@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  font-family: "Noto Sans KR", serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

main {
    padding-top: 50px;
}
nav {
    background-color: #FDE1B4; /* 네비게이션 바 배경색 */
    color: #fff; /* 텍스트 색상 */
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
  /* 생략 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

.comment_li {
    display: block; /* 블록 요소로 변경 */
    margin-right: 20px;
}


a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: black;
}

.post_table{
    position: mid;
    width: 70%;
    margin: 0 auto;
}

.post_table_list{
    text-align: center;
}

.post_table_list_title{
    text-align: left;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: -300px; /* 오른쪽에서 시작 */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out;
}

/* 버튼 스타일 */
.open-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

/* 버튼 클릭 시 대화창을 오른쪽에서 나오도록 설정 */
.open-button:focus + .modal {
    right: 0;
}