@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
html {
  font-family: "Noto Sans KR", serif;
  font-weight: 400;
  font-size: 16px;
  color: #333;
}

main {
    padding-top: 50px;
}
nav {
    background-color: #FDE1B4; /* 네비게이션 바 배경색 */
    color: #fff; /* 텍스트 색상 */
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
  /* 생략 */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: inline;
    margin-right: 20px;
}

.comment_li {
    display: block; /* 블록 요소로 변경 */
    margin-right: 20px;
}


a {
    text-decoration: none; /* 링크 밑줄 제거 */
    color: black;
}

.post_table{
    position: mid;
    width: 70%;
    margin: 0 auto;
}

.post_table_list{
    text-align: center;
}

.post_table_list_title{
    text-align: left;
}