{% extends 'base.html' %}

{% block content %}
<h1>{{ user.nickname }}의 냉장고</h1>
<div>
    <h3>음식 목록</h3>
    <table class="fridge_table">
        {% if fridge %}
            <tbody>
                {% for fridge_list in fridge %}
                <tr class="fridge_table_list">
                    <td>{{ fridge_list.name }}</td>
                    <td style="{% if fridge_list.danger_mode %} color: red; {% endif %}">{% if fridge_list.exp_date_exist %}{{ fridge_list.exp_date|date:'y-m-d' }}{% endif %}</td>
                    <td>
                        <form action="{% url 'fridge:fridge_delete' fridge_id=fridge_list.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit">삭제</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        {% else %}
            <p>냉장고가 비어있습니다</p>
        {% endif %}
    </table>
</div>
<div>
    <h3>음식 추가</h3>
    <input type="button" class="barcode" value="바코드">
    <form action="{% url 'fridge:fridge_add' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="name" class="food">
        <input type="date" name="exp_date" class="date">
        <button type="submit">추가</button>
    </form>
</div>
<div>
    <h3>AI 추천</h3>
    <input type="button" class="ai" value="AI 추천">
    <div id="loading-spinner" class="hidden">
    <!-- 로딩 원 스타일링 -->
        <div class="spinner"></div>
    </div>
    <textarea class="recipe"></textarea>
</div>
{% endblock %}
{% block script %}
<script>
    let barcode = document.querySelector('.barcode');
    let food = document.querySelector('.food');
    let date = document.querySelector('.date');
    barcode.addEventListener('click', e => {
        $.ajax({
            url: '{% url 'fridge:barcode' %}',
            type: 'POST',
            headers: {
               'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            success: function(data){
                food.value = data.value
            },
            error: function(data){
                alert(data.responseText);
            }
        });
    });
</script>
<script>
    let startAi = document.querySelector('.ai');
    let getRecipe = document.querySelector('.recipe');

    // Ajax 요청 전에 로딩 원을 표시하는 함수
    function showLoadingSpinner() {
        document.getElementById('loading-spinner').classList.remove('hidden');
    }

    // Ajax 요청 완료 후 로딩 원을 숨기는 함수
    function hideLoadingSpinner() {
        document.getElementById('loading-spinner').classList.add('hidden');
    }

    startAi.addEventListener('click', e => {
        $.ajax({
            url: '{% url 'fridge:get_recipe' %}',
            type: 'POST',
            headers: {
               'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            beforeSend: function() {
                // Ajax 요청 전에 로딩 원 표시
                showLoadingSpinner();
            },
            success: function(data){
                getRecipe.value = data.recipe

                getRecipe.style.width = '100%';
                getRecipe.style.height = 'auto'; // 높이 초기화
                getRecipe.style.height = (getRecipe.scrollHeight) + 'px'; // 내용물 높이에 맞게 설정

                hideLoadingSpinner();
            },
            error: function(xhr, textStatus, errorThrown){
                alert(errorThrown);
            }
        });
    });
</script>
{% endblock %}